* {
  margin: 0,7%;
  padding: 0,3%;
}
body{
    background-color:rgba(241, 210, 32, 0.616);
    text-align: center;
    border:solid rgba(190, 19, 164, 0.801);
    font-size: 23px;
}


h1{
   color: rgba(23, 24, 24, 0.753);
    text-align: center;

}

li{ 
    text-align: left;
}


img{
    display: block;
    margin: auto;
    width: 500px;
    border: solid 5px ;
    padding: 5px;
    border-radius: 10px;

 }
     {
 :root {
    --verde-fundo: ;
    --fonte-principal: "Lustria";
    --verde-principal: ;
    --azul-principal: ;
    --verde-secundario: ;
    --link: #0a4804;
}